body {
    background: linear-gradient(0.25turn, #11303d, #374049, #1f2b66);}
#logo {
    color: white;
    font-family: DINWebPro-Bold;
    text-transform: uppercase;
    font-size: 1.4375em;
    letter-spacing: 0.1em;
    margin-top: 30px;
    margin-left: 100px;
    position: absolute;
    height: 100px;
    left: 5%; 

}
.head
{ 
    color: white;
    font-family: DINWebPro-Bold;
    text-transform: uppercase;
    font-size: 1.4375em;
    letter-spacing: 0.1em;
    display: inline-block;
    position: relative;
    padding-top: 30px;
    margin-left: 1200px;
    font-weight: normal;
    transition: color 1s;
}
#navigation {

    /* text-decoration: none; */
    color: white;
    font-family: DINWebPro-Bold;
    text-transform: uppercase;
    font-size: 1.4375em;
    letter-spacing: 0.1em;
    display: inline-block;
    position: relative;
    padding-top: 70px;
    margin-left: 20px;
    font-weight: normal;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}